node_modules
storage/data/*.json
storage/uploads/*
!storage/uploads/.gitkeep
storage/backups/*.json
storage/installed.lock
mobile-java/build/
mobile-java/meb-admin-java.apk
.env
storage/server-error.log
